/* Scrollbar Start */

/* width */
::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.5); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 102, 102, 0.6); 
}


/* Scrollbar Ende */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-image: url(Images/WASpawn_Blur.webp);
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar, Background */
    header {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .nav {
        width: 100%;
        padding: 8px;
        background-color: #0c0c0c;
        display: flex;
        align-items: center;
    }

    .nav img {
        height: 62px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .links a {
        margin-right: 15px;
        font-size: 20px;
        color: #929292;
        text-decoration: none;
    }

    .links a:hover {
        color: #c8c8c8;
    }

    #here {
        border-bottom: solid #929292;
        border-bottom-width: 2px;
        padding-bottom: 3px;
    }

    #here:hover {
        color: #929292;
    }

    .button {
        margin-right: 50px;
        margin-left: auto;
    }

    .button button {
        font-size: 16px;
        padding: 8px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }

    #joinBtn1.disabled,
    #joinBtn2.disabled {
        color: #aaaaaa;
        background-color: #878787;
    }

    #joinBtn1.enabled,
    #joinBtn2.enabled {
        color: #000000;
        background-color: #54ff64;
    }

    #joinBtn1.disabled,
    #joinBtn2.disabled {
        cursor: not-allowed;
    }

    #joinBtn1.enabled:hover,
    #joinBtn2.enabled:hover {
        background-color: #7fff7f;
    }

    .off-screen-menu {
        display: none;
    }

    .mobileNav {
        display: none;
    }



/* Work In Progress */
    .wip {
        max-width: 600px;
        width: 95%;
        margin: auto;
        margin-top: 150px;
        margin-bottom: -8px;
        padding: 20px;
        border-radius: 10px;
        color: #ffffff;
        background-color: rgba(12, 12, 12, 0.5);
    }

    .wip h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .wip p {
        text-align: center;
    }



/* Footer */
    footer {
        width: 100%;
        height: 450px;
        margin-top: 250px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        color: #929292;
        background-color: #0c0c0c;
    }
    
    .footLogo {
        height: calc(100% - 30px);
        width:  25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footLogo img {
        width: 80%;
    }
    
    .social,
    .footInfo {
        width: 25%;
        display: flex;
        justify-content: center;
    }
    
    .socialBox h2,
    .footInfoBox h2 {
        margin-top: 100px;
        margin-bottom: 20px;
    }
    
    .socialBox li,
    .footInfoBox li {
        list-style: none;
        margin-bottom: 10px;
    }
    
    .socialBox a,
    .footInfoBox a {
        text-decoration: none;
        color: #929292;
        display: flex;
        align-items: center;
    }
    
    .footInfoBox button {
        margin-top: 20px;
        font-size: 16px;
        padding: 8px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
    
    .footInfoBox button:hover {
        cursor: pointer;
    }
    
    .socialBox a:hover,
    .footInfoBox a:hover {
        color: #c8c8c8;
    }
    
    .socialBox img {
        width: 32px;
        margin-right: 10px;
    }
    
    .copyright {
        width: 100%;
        height: 20px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


@media (max-width: 1000px) {
    .off-screen-menu {
        height: 100vh;
        width: 100%;
        max-width: 450px;
        font-size: 20px;
        list-style: none;
        position: fixed;
        top: 0;
        right: 0px;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .3s ease;
        background-color: rgb(12, 12, 12);
    }

    #xIcon {
        position: absolute;
        width: 24px;
        top: 40px;
        right: 20px;
    }

    #offImg {
        width: 75%;
        margin-bottom: 100px;
    }

    .offButtons {
        width: 100%;
    }

    .offButtons a {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    .offButtons button {
        width: 70%;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        padding: 10px;
        background-color: #878787;
    }

    .offButtons img {
        width: 25px;
        margin-right: 10px;
    }

    .mobileDisabled {
        color: #aaaaaa;
        text-decoration: line-through;
    }

    .mobileEnabled {
        color: #000000;
        text-decoration: none;
    }

    .nav {
        display: none;
    }

    .mobileNav {
        height: 100px;
        display: flex;
        align-items: center;
        background-color: #0c0c0c;
    }

    .mobileNav #mobileLogo {
        height: 75px;
        margin-left: 20px;
    }

    .mobileNav #bars {
        width: 24px;
        margin-left: auto;
        margin-right: 20px;
    }



    footer {
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .footLogo {
        margin-top: 50px;
        width: 100%;
    }

    .social {
        width: 100%;
    }

    .footInfo {
        width: 100%;
    }
}