.impressum {
    width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
}

.content h2 {
    margin-bottom: 30px;
    text-align: center;
}

.content li {
    list-style: none;
}

.contact {
    margin-top: 20px;
}

#name,
#title {
    font-weight: bold;
}